[Desktop Entry]
Name=Google Antigravity
Name[zh_CN]=Google Antigravity
Comment=AI-first IDE by Google
Comment[zh_CN]=Google AI 原生集成开发环境
Exec=/usr/local/bin/webclaw-app-launcher antigravity
Icon=/opt/on-demand-icons/antigravity.png
Type=Application
Categories=AITools;
StartupNotify=true
