[Desktop Entry]
Name=应用启动台
Comment=全屏应用启动器
GenericName=Launcher
Categories=GNOME;GTK;Utility;
TryExec=/usr/local/bin/launchpad
Exec=/usr/local/bin/launchpad
Icon=view-app-grid
Terminal=false
Type=Application
StartupNotify=false
