[Desktop Entry]
Name=Terminal
Name[zh_CN]=终端
Name[ja_JP]=ターミナル
Name[es_ES]=Terminal
Name[pt_BR]=Terminal
Name[ko_KR]=터미널
Name[de_DE]=Terminal
Comment=GNOME Terminal
Comment[zh_CN]=GNOME 终端
Comment[ja_JP]=GNOME ターミナル
Comment[es_ES]=Terminal GNOME
Comment[pt_BR]=Terminal GNOME
Comment[ko_KR]=GNOME 터미널
Comment[de_DE]=GNOME Terminal
Exec=gnome-terminal
Icon=org.gnome.Terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupNotify=true
